<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>UserWork</title>

    <link rel="stylesheet" type="text/css" href="./css/css.css">
    <script src="./js/vue.js"></script>
    <script src="./js/velocity.js"></script>
  
  </head>

  <body>
    <div id="app">
      <transition name="fade">
        <div class="loader-overlay" v-if="loading">
          <div class="loader"></div>
          <h2>Fetching movie data</h2>
        </div>
      </transition>
      <transition name="slide-fade" appear="appear">
        <div class="movie" id="movie-card" v-if="!loading">
          <movie-data :movie="movie" :error="error"></movie-data>
          <input class="movie__search" id="movie-search" type="text" placeholder="Enter a movie title" @keyup.enter="searchHandler"/>
        </div>
      </transition>
    </div>
    <template id="tpl-movie-data" v-if="!loading">
      <div class="movie__data">
        <div class="movie__poster" v-if="!error"><span class="movie__poster--fill">
            <transition name="fade"><img :src="movie.Poster" @load="imgLoaded" v-show="showImg"/></transition></span><span class="movie__poster--featured">
            <transition name="fade"><img :src="movie.Poster" @load="imgLoaded" v-show="showImg"/></transition></span></div>
        <div class="movie__details" v-if="!error">
          <h2 class="movie__title">{{movie.Title}}</h2>
          <ul class="movie__tags list--inline">
            <li class="movie__rated">{{movie.Rated}}</li>
            <li class="movie__year">{{movie.Year}}</li>
            <li class="movie__genre">{{movie.Genre}}</li>
          </ul>
          <p class="movie__plot">{{movie.Plot}}</p>
          <div class="movie__credits">
            <p><strong>Written by:</strong> {{movie.Writer}}</p>
            <p><strong>Directed by:</strong> {{movie.Director}}</p>
            <p><strong>Starring:</strong></p>
            <ul class="movie__actors list--inline">
              <li v-for="actor in movie.Actors">{{actor}}</li>
            </ul>
          </div>
        </div>
        <div class="movie__error" v-show="error">
          <h2>{{movie.Error}}</h2>
        </div>
      </div>
    </template>

    <script type="text/javascript" src="./js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
  
  </body>
</html>